<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos:</p>

            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">Um erro qualquer</div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table">
                    <tr>
                        <td>Pedro</td>
                        <td>Mordente</td>
                        <td>22681684</td>
                        <td>pemordente11@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>Mordente</td>
                        <td>22681684</td>
                        <td>pemordente11@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>Mordente</td>
                        <td>22681684</td>
                        <td>pemordente11@hotmail.com</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>Mordente</td>
                        <td>22681684</td>
                        <td>pemordente11@hotmail.com</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-lg-2"></div>

    </div>
</div>

<% include('includes/footer') %> 